In [1]:
from preprocessing import Parser
from preprocessing import DataHandler

/Users/i741961/Documents/SAP/Masterthesis/Code/master-thesis/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [2]:
data_handler = DataHandler(save_dir='../data/cont_pretrain/')

In [3]:
data = data_handler.read_dataset(max_samples_per_split=500)

Reading split=train: 100%|██████████| 500/500 [00:00<00:00, 688.47it/s]
Reading split=test: 100%|██████████| 500/500 [00:00<00:00, 1577.59it/s]
Reading split=validation: 100%|██████████| 500/500 [00:00<00:00, 1641.20it/s]

In [4]:
data = data.loc[[3]]
#data = data.loc[[9]]
#data = data.loc[[5]]
#data = data.loc[[836]]
data

,text,code
3,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n '''Reset tas...

In [5]:
data = data_handler.preprocess(data)
data

1it [00:00, 2898.62it/s]

,text,code
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...

In [6]:
data.loc[0].code

"def reset(self) -> None:\n        Log.debug('resetting timer task %s')\n        self.target = self.time() + self.DELAY"

In [7]:
parser = Parser()
parser.add_structure(data)
data

1it [00:00, 2763.05it/s]

,text,code,ast_leaves,dfg_edges,ast_leaf_tokens,ast_leaf_ranges
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","[def, reset, (, self, ), ->, None, :, Log, ., ...","[(0, 3), (4, 9), (9, 10), (10, 14), (14, 15), ..."

In [8]:
data['code_tokens'] = parser.tokenize_codes_texts(list(data['code']))
data['text_tokens'] = parser.tokenize_codes_texts(list(data['text']))
data

100%|██████████| 1/1 [00:00<00:00, 1543.73it/s]
100%|██████████| 1/1 [00:00<00:00, 3059.30it/s]

,text,code,ast_leaves,dfg_edges,ast_leaf_tokens,ast_leaf_ranges,code_tokens,text_tokens
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","[def, reset, (, self, ), ->, None, :, Log, ., ...","[(0, 3), (4, 9), (9, 10), (10, 14), (14, 15), ...","[610, 5672, 45, 803, 46, 984, 1686, 63, 310, 2...","[7334, 2918, 6111, 391, 548, 21382, 101, 6810,..."

In [9]:
parser.add_code_tokens_ranges(data)
data

1it [00:00, 2659.67it/s]

,text,code,ast_leaves,dfg_edges,ast_leaf_tokens,ast_leaf_ranges,code_tokens,text_tokens,code_tokens_ranges
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","[def, reset, (, self, ), ->, None, :, Log, ., ...","[(0, 3), (4, 9), (9, 10), (10, 14), (14, 15), ...","[610, 5672, 45, 803, 46, 984, 1686, 63, 310, 2...","[7334, 2918, 6111, 391, 548, 21382, 101, 6810,...","[(0, 3), (3, 9), (9, 10), (10, 14), (14, 15), ..."

In [10]:
parser.map_ast_leaf_code_token_indices(data)

1it [00:00, 10433.59it/s]

In [11]:
data

,text,code,ast_leaves,dfg_edges,ast_leaf_tokens,ast_leaf_ranges,code_tokens,text_tokens,code_tokens_ranges,ast_leaf_code_token_idxs
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","[def, reset, (, self, ), ->, None, :, Log, ., ...","[(0, 3), (4, 9), (9, 10), (10, 14), (14, 15), ...","[610, 5672, 45, 803, 46, 984, 1686, 63, 310, 2...","[7334, 2918, 6111, 391, 548, 21382, 101, 6810,...","[(0, 3), (3, 9), (9, 10), (10, 14), (14, 15), ...","[[0], [1], [2], [3], [4], [5], [6], [7], [9], ..."

In [12]:
data = data_handler.convert_tokens_to_strings(data)
data

100%|██████████| 1/1 [00:00<00:00, 7096.96it/s]
100%|██████████| 1/1 [00:00<00:00, 10205.12it/s]

,text,code,ast_leaves,dfg_edges,code_tokens,text_tokens,ast_leaf_code_token_idxs
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","610,5672,45,803,46,984,1686,63,310,2681,51,282...","7334,2918,6111,391,548,21382,101,6810,664,2483,51","[[0], [1], [2], [3], [4], [5], [6], [7], [9], ..."

In [13]:
num_rows_per_file = 100000

all_node_types = data_handler.store_preprocessed_data(data, num_rows_per_file=10000)

1it [00:00, 1031.05it/s]
1it [00:00, 11214.72it/s]

In [14]:
data

,text,code,ast_leaves,dfg_edges,code_tokens,text_tokens,ast_leaf_code_token_idxs
0,Reset task execution to `DELAY` seconds from now.,def reset(self) -> None:\n Log.debug('r...,"[(""def""), (identifier), (""(""), (identifier), (...","[(14, [18, 20, 24, 26]), (16, [18, 20, 24, 26]...","610,5672,45,803,46,984,1686,63,310,2681,51,282...","7334,2918,6111,391,548,21382,101,6810,664,2483,51","[[0], [1], [2], [3], [4], [5], [6], [7], [9], ..."

In [15]:
data_handler.convert_node_types_to_indices(all_node_types)

100%|██████████| 2/2 [00:00<00:00, 285.15it/s]

In [16]:
import pandas as pd

df = pd.read_parquet('../data/cont_pretrain/from_0.parquet')
df

,code_tokens,text_tokens,ast_leaf_code_token_idxs,ll_sims,lr_paths_types,dfg_node_code_token_idxs,dfg_edges
0,"610,5672,45,803,46,984,1686,63,310,2681,51,282...","7334,2918,6111,391,548,21382,101,6810,664,2483,51","[[0], [1], [2], [3], [4], [5], [6], [7], [9], ...","1.0,0.4444444444444444,0.3333333333333333,0.33...","[[13, 15, 17], [16, 15, 17], [0, 19, 15, 17], ...","[[3], [21], [23], [25], [27], [30], [32]]","[(1, [3, 4, 5, 6]), (2, [3, 4, 5, 6]), (3, [0]..."

In [17]:
import pickle

with open('../data/cont_pretrain/all_node_types.pkl', 'rb') as file:
    node_types = pickle.load(file)

In [18]:
data_handler.reduce_ll_sims()

all_node_types.pkl: 100%|██████████| 2/2 [00:00<00:00, 366.44it/s]

In [19]:
data_reduced = pd.read_parquet('../data/cont_pretrain/from_0.parquet')

In [20]:
data = data_handler.get_concat_stored_data()

100%|██████████| 2/2 [00:00<00:00, 994.97it/s]

In [21]:
data.head()

,code_tokens,text_tokens,ast_leaf_code_token_idxs,ll_sims,lr_paths_types,dfg_node_code_token_idxs,dfg_edges
0,"610,5672,45,803,46,984,1686,63,310,2681,51,282...","7334,2918,6111,391,548,21382,101,6810,664,2483,51","[[0], [1], [2], [3], [4], [5], [6], [7], [9], ...","0.4444444444444444,0.3333333333333333,0.333333...","[[13, 15, 17], [16, 15, 17], [0, 19, 15, 17], ...","[[3], [21], [23], [25], [27], [30], [32]]","[(1, [3, 4, 5, 6]), (2, [3, 4, 5, 6]), (3, [0]..."